html,
body {
	margin: 0;
	padding: 0;

  background-color: var(--very-light-grey);

	font-family: "Nunito Sans", sans-serif;
}

:root {
	--black: hsl(209, 23%, 22%);
  --white: hsl(0, 0%, 100%);
  --very-light-grey: #F4F4F4;
  --dark-grey: hsl(0, 0%, 52%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-blue: hsl(207, 26%, 17%);


	--font-family: "Nunito Sans", sans-serif;
}

